<link rel="import" href="../bower_components/iron-image/iron-image.html">

<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="article-item">
  <template>
<style>
.white {
  --paper-card-header-color: white;
  --paper-card-header-image-text: {
    background: rgba(0,0,0,0.7);
    width: 100%;
  }
}
.description {
    font-size: 18px;
    font-weight: 600;
    white-space: pre-line;
    word-break: break-all;
}
</style>
    <paper-card heading="{{article.title}}" image="{{article.urlToImage}}" alt="{{article.title}}" class="white">
      <div class="card-content">
        <div class="description pre">{{article.description}}</div>

        {{timeAgo(article.publishedAt)}} by {{article.author}}
      </div>
      <div class="card-actions layout horizontal">
        <div class="flex"></div>
        <paper-button disabled>Share</paper-button>
        <paper-button on-tap="goToArticle">Read More</paper-button>
      </div>
    </paper-card>
  </template>
</dom-module>
