<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="articles-page.html">
<link rel="import" href="sources-page.html">

<dom-module id="news-app">
  <template>
    <!--================== <Router> ================-->

    <app-location route="{{route}}" use-hash-as-path></app-location>

    <app-route route="{{route}}"
               use-hash-as-path
               pattern="/sources"
               data="{{sourceData}}"
               active="{{sourceActive}}"
               tail="{{sourceTail}}">
    </app-route>

    <app-route route="{{route}}"
               use-hash-as-path
               pattern="/articles"
               data="{{articleData}}"
               active="{{articleActive}}"
               tail="{{articleTail}}">
    </app-route>

    <!--================= </Router> ================-->
    <paper-toast id="caching-complete"
                 duration="6000"
                 text="Caching complete! This app will work offline.">
    </paper-toast>

    <paper-toast id="mainToast"></paper-toast>
    <sources-page name="sources"
                  route="{{sourceTail}}"
                  hidden="{{!sourceActive}}"
                  _sources="{{sources}}">

      <paper-icon-button class="toolbar-item-left"
                         icon="arrow-back"
                         on-tap="goBack"
                         disabled="{{!history.prev}}"
                         ></paper-icon-button>
        <paper-icon-button class="toolbar-item-left"
                           icon="arrow-forward"
                           on-tap="goForward"
                           disabled="{{!history.next}}"
                           ></paper-icon-button>
    </sources-page>
    <template is="dom-if" if="{{articleActive}}">
      <articles-page name="articles" route="{{articleTail}}" sources="[[sources]]">

        <paper-icon-button class="toolbar-item-left"
                           icon="arrow-back"
                           on-tap="goBack"
                           disabled="{{!history.prev}}"
                           ></paper-icon-button>
          <paper-icon-button class="toolbar-item-left"
                             icon="arrow-forward"
                             on-tap="goForward"
                             disabled="{{!history.next}}"
                             ></paper-icon-button>
      </articles-page>
    </template>
    </iron-pages>
  </template>
</dom-module>
<script>
class newsApp {
  beforeRegister() {
    this.is = 'news-app';
    this.properties = {
      sources: Array,
      history: {
        type: Object,
        value: {
          prev: false,
          next: false,
          wentBack: 0,
        },
      },
    };
    this.observers = [
      'routeChange(route.path)',
    ];
    this.listeners = {
      'change-route': 'changeRoute',
      toast: 'toast',
    };
  }
  toast(e) {
    const text = e.detail.text;
    if (text) {
      this.$.mainToast.hide();
      this.$.mainToast.text = text;
      this.async(() => {
        this.$.mainToast.show();
      }, 300);
    }
  }
  displayInstalledToast() {
    this.$['caching-complete'].show();
  }
  routeChange(p) {
    const hLength = window.history.length;
    if (!p) {
      this.set('route.path', '/sources');
    }
    if (hLength <= 1) {
      this.set('history', { prev: false, next: false });
    } else {
      this.set('history.prev', this.history.wentBack < hLength - 1);
      this.set('history.next', this.history.wentBack > 0);
    }
  }
  changeRoute(e) {
    this.set('route.path', e.detail.url);
  }
  goBack() {
    if (this.history.wentBack < window.history.length - 1) {
      this.set('history.wentBack', this.history.wentBack + 1);
    }
    window.history.back();
  }
  goForward() {
    if (this.history.wentBack > 0) {
      this.set('history.wentBack', this.history.wentBack - 1);
    }
    window.history.forward();
  }

}

Polymer(newsApp);
</script>
