<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="articles-page.html">
<link rel="import" href="sources-page.html">
<script src="news-app.js"></script>

<dom-module id="news-app">
  <template>
    <!--================== <Router> ================-->

    <app-location route="{{route}}" use-hash-as-path></app-location>

    <app-route route="{{route}}"
               use-hash-as-path
               pattern="/sources"
               data="{{sourceData}}"
               active="{{sourceActive}}"
               tail="{{sourceTail}}">
    </app-route>

    <app-route route="{{route}}"
               use-hash-as-path
               pattern="/articles"
               data="{{articleData}}"
               active="{{articleActive}}"
               tail="{{articleTail}}">
    </app-route>

    <!--================= </Router> ================-->
    <paper-toast id="caching-complete"
                 duration="6000"
                 text="Caching complete! This app will work offline.">
    </paper-toast>

    <paper-toast id="mainToast"></paper-toast>
    <sources-page name="sources"
                  route="{{sourceTail}}"
                  hidden="{{!sourceActive}}"
                  _sources="{{sources}}">

      <paper-icon-button class="toolbar-item-left"
                         icon="arrow-back"
                         on-tap="goBack"
                         disabled="{{!history.prev}}"
                         ></paper-icon-button>
        <paper-icon-button class="toolbar-item-left"
                           icon="arrow-forward"
                           on-tap="goForward"
                           disabled="{{!history.next}}"
                           ></paper-icon-button>
    </sources-page>
    <template is="dom-if" if="{{articleActive}}">
      <articles-page name="articles" route="{{articleTail}}" sources="[[sources]]">

        <paper-icon-button class="toolbar-item-left"
                           icon="arrow-back"
                           on-tap="goBack"
                           disabled="{{!history.prev}}"
                           ></paper-icon-button>
          <paper-icon-button class="toolbar-item-left"
                             icon="arrow-forward"
                             on-tap="goForward"
                             disabled="{{!history.next}}"
                             ></paper-icon-button>
      </articles-page>
    </template>
    </iron-pages>
  </template>
</dom-module>
